<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/nav.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/nav.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/chat.css') }}">

    <title>title</title>
</head>
<body id="body">
    <div id="blur">
        <header class="header">
            <div class="header-container">
                <img src="../../static/images/ftyswdhgWhatsApp Image 2021-03-11 at 2.59.39 PM.png" alt="" class="header-img">
    
                <a href="#" class="header-logo">XYZ</a>
    
                <div class="header-search">
                    <input type="search" placeholder="Search" class="header-input">
                    <i class="fas fa-search header-icon"></i>
                </div>
            </div>
        </header>
    
    
        <div class="chat-page">
            <div class="row d-flex align-items-stretch">
                <div class="col-3 col-md-1 workspace-list">
                    <div class="createWorkspace">
                        <div class="createWorkspaceButton">
                            <a id="createWorkspace" href="#"><i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                    <hr>
                    <span id="workspace-id-saved" style="display: none;">{{workspace[0].id}}</span>
                    <div class="workspaceList" id="workspaceList">
                        {%for i in range(0, count)%} 
                            <div class="workspace"> 
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5su_e5EULmaSR0GPr9PxMGcOVm22Tsg5Eyg&usqp=CAU" alt="" class="workspaceIcon">
                                <span class="wid" style="display: none;">{{workspace[i].id}}</span>
                            </div>
                        {%endfor%}
                        <!-- <div class="workspace"> 
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5su_e5EULmaSR0GPr9PxMGcOVm22Tsg5Eyg&usqp=CAU" alt="" class="workspaceIcon">
                        </div>
                        <div class="workspace">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5su_e5EULmaSR0GPr9PxMGcOVm22Tsg5Eyg&usqp=CAU" alt="" class="workspaceIcon">
                        </div> -->
                    </div>
                </div>
                <div class="col-9 col-md-2 channel-list">
                    <div class="createChannel">
                        <div class="createChannelButton">
                            <a href="#"><button id="createChannel"><i class="fas fa-plus"></i> Create Channel</button></a>
                        </div>
                    </div>
                    <hr>
                    <div class="channel-heading">
                        <p>{{workspace[0].name}}</p>
                    </div>
                    <div class="channelList" id="channelList">
                        {%for i in range(0, channelCount)%} 
                        <div class="channel">
                            <button class="channelName">#{{channels[i].name}}</button>
                        </div>
                        {%endfor%}
                        <!-- <div class="channel">
                            <button class="channelName">#general</button>
                        </div>
                        <div class="channel">
                            <button class="channelName">#general</button>
                        </div>
                        <div class="channel">
                            <button class="channelName">#general</button>
                        </div>
                        <div class="channel">
                            <button class="channelName">#general is a very very very long name to check text wrap</button>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-7 chat-section">
                    <div class="main-block">
                        <p class="chat-workspace-name">workspace Name</p>
                        <div class="chats d-flex flex-column" id="chats">
                          <!-- <div class="chatbubble chatbubble-left">
                            <p>some message</p>
                          </div>
                          <div class="chatbubble chatbubble-right">
                            <p>some message</p>
                          </div>
                          <div class="chatbubble chatbubble-left">
                            <p>some message</p>
                          </div>
                          <div class="chatbubble chatbubble-right">
                            <p>some message</p>
                          </div>
                          <div class="chatbubble chatbubble-right">
                            <p>some message Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nostrum, eaque fugiat laborum quibusdam cumque delectus possimus culpa veritatis id! Sapiente, deleniti architecto ullam culpa obcaecati placeat porro quisquam perspiciatis.</p>
                          </div> -->
                        </div>
                        <div class="send-message-container">
                          <form action="">
                            <input id="chatMessageInput" class="message-input" type="text" placeholder="Type a message...">
                          </form>
                          <a href="#" id="send-message" class="send-message chat-buttons"><i class="fas fa-paper-plane"></i></a>
                          <a href="#" id="send-image" class="send-image chat-buttons"><i class="fas fa-camera-retro"></i></a>
                          <a href="#" id="voice-message" class="voice-message chat-buttons"><i class="fas fa-microphone-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 profile-section">
                    <div class="card">
                        <img class="card-img-top" src="https://cdn5.vectorstock.com/i/1000x1000/20/74/woman-avatar-profile-vector-21372074.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title" id="username">{{username}}</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <div class="btn-group">
                            <a href="#" class="btn btn-primary mr-1">Logout</a>
                            <a href="#" class="btn btn-primary">Edit Profile</a>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>    
    </div>

    <div class="createWorkspaceModal" id="createWorkspaceModal">
        <div class="heading-createWorkspace">
            <h5><span>teamwork</span> makes the dream work.</h5>
        </div>
        <div class="content-createWorkspace">
            <div class="createWorkspaceImage">
                <img src="../../static/images/Brainstorming session _Monochromatic.svg" alt="">
            </div>
            <div class="createWorkspaceForm">
                <form action="">
                    <input type="text" placeholder="Workspace Name" id="workspaceNameInput">
                    <input type="text" placeholder="Admin Name" id="workspaceNameUsername">
                    <button class="btn btn-primary" id="createWorkspaceButton">Create workspace</button>
                </form>
                <div class="closeCreateWorkspace" id="closeCreateWorkspace">
                    <p>Close</p>
                </div>
            </div>
        </div>
    </div>

    <div class="createChannelModal" id="createChannelModal">
        <div class="heading-createChannel">
            <h5><span>teamwork</span> makes the dream work.</h5>
        </div>
        <div class="content-createChannel">
            <div class="createChannelImage">
                <img src="../../static/images/Brainstorming session _Monochromatic.svg" alt="">
            </div>
            <div class="createChannelForm">
                <form action="">
                    <input type="text" placeholder="Channel Name" id="ChannelNameInput">
                    <input type="text" placeholder="Admin Name" id="ChannelNameUsername">
                    <button class="btn btn-primary" id="createChannelButton">Create Channel</button>
                </form>
                <div class="closeCreateChannel" id="closeCreateChannel">
                    <p>Close</p>
                </div>
            </div>
        </div>
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/socketIO.js') }}"></script>
    <!-- <script src="{{ url_for('static',filename='js/nav.js') }}"></script> -->
    <script src="{{ url_for('static',filename='js/chat.js') }}"></script>
</body>
</html>