{% extends "/views/base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
  <div class="main-block">
      <p class="chat-workspace-name">workspace Name</p>
      <div class="chats d-flex flex-column" id="chats">
        <div class="chatbubble chatbubble-left">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-right">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-left">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-right">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-right">
          <p>some message Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nostrum, eaque fugiat laborum quibusdam cumque delectus possimus culpa veritatis id! Sapiente, deleniti architecto ullam culpa obcaecati placeat porro quisquam perspiciatis.</p>
        </div>
        <div class="chatbubble chatbubble-left">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-right">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-left">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-right">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-right">
          <p>some message Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nostrum, eaque fugiat laborum quibusdam cumque delectus possimus culpa veritatis id! Sapiente, deleniti architecto ullam culpa obcaecati placeat porro quisquam perspiciatis.</p>
        </div>
        <div class="chatbubble chatbubble-left">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-right">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-left">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-right">
          <p>some message</p>
        </div>
        <div class="chatbubble chatbubble-right">
          <p>some message Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nostrum, eaque fugiat laborum quibusdam cumque delectus possimus culpa veritatis id! Sapiente, deleniti architecto ullam culpa obcaecati placeat porro quisquam perspiciatis.</p>
        </div>
        <hr id="forfocus">
      </div>
      <div class="send-message-container">
        <form action="">
          <input class="message-input" type="text" placeholder="Type a message...">
        </form>
      </div>
  </div>
{% endblock %}