<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/landingpage.css">
    <title>Document</title>
</head>
<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">XYZ</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">Features</a></li>
                    <li class="nav__item"><a href="#experience" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="/authorization" class="nav__link">Sign In</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main">
        <!--===== HOME =====-->
        <section class="home" id="home">
            <div class="home__container bd-grid">
                <h5 class="heading"><span>teamwork</span> makes the dream work.</h5>
                <h3 class="heading">It’s time to get excited!</h3>
                <p class="heading">If you’re looking for a simple chat app to meet new people around the world, our chat is for you! Here, nothing is impossible — find new friends, share and create stickers, have fun and of course discuss your working projects. With this chat you can thousands of people. The Chat app concept is designed with simplicity in mind. Anyone willing to get acquainted and communicate can install it for free and use without limits.</p>
                <div id="wrapper" >
                    <div class="chat">
                        <div class="chat-container">
                            <div class="chat-listcontainer">
                                <ul class="chat-message-list">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <img src="assets/img/undraw_in_thought_gjsf.svg" alt="" class="home__img">
                
                <h1 class="home__title text">Talk is cheap.<br>Show me the<br>code.</h1> -->

                <!-- <div class="home__scroll">
                    <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Scroll down</a>
                </div> -->

            </div>
        </section>
        
        <!--===== ABOUT =====-->
        <section class="about section" id="about">
            <h2 class="section-title">Take a look at our features</h2>
            <div class="row about-section">
                <div class="about__img">
                    <div class="about-img">
                        <img src="../../static/images/undraw_connected_8wvi.svg" alt="">
                    </div>
                    <div class="about__details">
                        <h2 class="about__subtitle">Real-time Chat<span>!</span></h2>
                            <span class="about__profession">Create channels, join your team, discuss, share media files and much more.</span>
                            <p class="about__text">All in one and easy to use real time chat app. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus tempore eum ab totam cumque amet ducimus incidunt, explicabo impedit, pariatur, sunt repudiandae id ea magni reiciendis ratione doloribus quod quidem.</p>
                    </div>
                </div>
                <div class="about__img">
                    <div class="about__details">
                        <h2 class="about__subtitle">Multi-platform<span>!</span></h2>
                            <span class="about__profession">Available for both web and mobile.</span>
                            <p class="about__text">Sign up from this page and join many others to use web version of our website. Dont like website or simply prefer app? Hop onto playstore and  download our app today!</p>
                    </div>
                    <div class="about-img">
                        <img src="../../static/images/undraw_Messages_re_qy9x (1).svg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!--===== SKILLS =====-->
        <section class="skills section" id="skills">
            <h2 class="section-title">Skills</h2>

            <div class="skills__container bd-grid">
                <div class="skills__box">
                    <h3 class="skills__subtitle">Frontend</h3>
                    <span class="skills__name">Html</span>
                    <span class="skills__name">Css</span>
                    <span class="skills__name">Javascript</span>
                    <span class="skills__name">Bootstrap</span>
                    <span class="skills__name">React</span>
                    <span class="skills__name">Flutter/Dart</span>

                    <h3 class="skills__subtitle">Backend</h3>
                    <span class="skills__name">Nodejs</span>
                    <span class="skills__name">Flask</span>
                    <span class="skills__name">PHP</span>
                    <span class="skills__name">Express</span>

                    <h3 class="skills__subtitle">Competitive Programming</h3>
                    <span class="skills__name">C++</span>
                    <span class="skills__name">Data Structures and Algorithms</span>

                    <h3 class="skills__subtitle">Databases</h3>
                    <span class="skills__name">MongoDB</span>
                    <span class="skills__name">MySQL</span>
                    
                </div>

                <div class="skills__img">
                    <img src="assets/img/undraw_programmer_imem.svg" alt="">
                </div>
            </div>
        </section>



        <!-- section experience -->
<section id="experience" class="experience section">
                <!-- section title -->
        <h2 class="section-title wow fadeInUp">Education</h2>
    <div class="experience-container">



        <div class="spacer" data-height="60"></div>

        <!-- timeline wrapper -->
        <div class="timeline">

            <!-- timeline item -->
            <div class="timeline-container wow fadeInUp">
                <div class="content">
                    <span class="time">2019 - Present</span>
                    <h3 class="title">BTECh COMPUTER ENGINEERING</h3>
                    <p>BTech Computer Engineering from VJTI, Mumbai. First year CGPA: 9.5</p>
                </div>
            </div>

            <!-- timeline item -->
            <div class="timeline-container wow fadeInUp" data-wow-delay="0.2s">
                <div class="content">
                    <span class="time">2017 - 2019</span>
                    <h3 class="title">HSC</h3>
                    <p>Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum perfecto.</p>
                </div>
            </div>

            <!-- timeline item -->
            <!-- <div class="timeline-container wow fadeInUp" data-wow-delay="0.4s">
                <div class="content">
                    <span class="time"></span>
                    <h3 class="title"></h3>
                    <p>Lorem ipsum dolor sit amet quo ei simul congue exerci ad nec admodum perfecto.</p>
                </div>
            </div> -->

            <!-- main line -->
            <span class="line"></span>
        </div>
    </div>
    
</section>

        <!--===== PORTFOLIO =====-->
        <section class="portfolio section" id="portfolio">
            <h2 class="section-title">Portfolio</h2>

            <div class="portfolio__container bd-grid">
                <div class="portfolio__img">
                    <a href="https://github.com/pri1311">
                        <img src="assets/img/undraw_visual_data_b1wx.svg" alt="">
                    </a>
                    <h1>Path Visualizer</h1>
                </div>
                
                <div class="portfolio__img">
                    <a href="https://github.com/pri1311">
                        <img src="assets/img/undraw_Group_chat_re_frmo (1).svg" alt="">
                    </a>
                    <h1>Slack Clone</h1>
                </div>

                <div class="portfolio__img">
                    <a href="#home">
                        <img src="assets/img/undraw_personal_info_0okl.svg" alt="">
                    </a>
                    <h1>Portfolio Website</h1>
                </div>
            </div>
        </section>

        <!--===== CONTACT =====-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Get in touch</h2>

            <div class="contact__container bd-grid">
                <div class="contact__info">
                    <h2 class="contact__subtitle">Let's talk about everything!</h2>
                    <span class="contact__text">Don't like forms? Send me an <a href="mailto:prnagda_b19@ce.vjti.ac.in">email</a>. 👋</span>
                </div>

                <form action="" class="contact__form">
                    <div class="contact__inputs">
                        <input type="text" placeholder="Name" class="contact__input">
                        <input type="mail" placeholder="Email" class="contact__input">
                    </div>

                    <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>

                    <input type="submit" value="Send!" class="contact__button">
                </form>
            </div>
        </section>
    </main>

<!--===== FOOTER =====-->
        <footer class="footer section">
            <div class="footer__container bd-grid">
                <div class="footer__data">
                    <h2 class="footer__title">Priya Nagda</h2>
                </div>

                <div class="footer__data">
                    <h2 class="footer__title">EXPLORE</h2>
                    <ul>
                        <li><a href="#home" class="footer__link">Home</a></li>
                        <li><a href="#about" class="footer__link">About</a></li>
                        <li><a href="#skills" class="footer__link">Skills</a></li>
                        <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
                        <li><a href="#Contact" class="footer__link">Contact</a></li>
                    </ul>
                </div>
                
                <div class="footer__data">
                    <h2 class="footer__title">FOLLOW</h2>
                    <a href="https://www.linkedin.com/in/priya-nagda-65a135197/" class="about__social-icon"><i class='fab fa-linkedin' ></i></a>
                    <a href="mailto:prnagda_b19@ce.vjti.ac.in" class="about__social-icon "><i class='fas fa-envelope' ></i></a>
                    <a href="https://github.com/pri1311" class="about__social-icon"><i class='fab fa-github' ></i></a>
                </div>


            </div>
        </footer>

    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="../../static/js/landingpage.js"></script>
</body>
</html>